[submodule "external/DirectXTex"]
	path = external/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
