# ----------------------------------------------------------------------
# Visual Studio Build Output Directories
# ----------------------------------------------------------------------
x64/
x86/
[Dd]ebug/
[Rr]elease/
build/
.vs/

# ----------------------------------------------------------------------
# Visual Studio Intermediate Files
# ----------------------------------------------------------------------
*.tlog
*.log
*.idb
*.pdb
*.ilk
*.ipch
*.aps
*.opt
*.filters

# ----------------------------------------------------------------------
# Compiled Object files
# ----------------------------------------------------------------------
*.obj
*.iobj
*.ipdb
*.o
*.lo
*.slo
*.d

# ----------------------------------------------------------------------
# Compiled Libraries & Executables
# ----------------------------------------------------------------------
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.la
*.lai
*.out
*.app

# ----------------------------------------------------------------------
# User Specific Files
# ----------------------------------------------------------------------
*.user
*.suo
*.userosscache
*.sln.docstates

# ----------------------------------------------------------------------
# Others
# ----------------------------------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.cso
*.ini